@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"),
    url("../fonts/Segoe_UI/Segoe\ UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Italic"),
    url("../fonts/Segoe_UI/Segoe\ UI\ Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"),
    url("../fonts/Segoe_UI/Segoe\ UI\ Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  src: local("Segoe UI Bold Italic"),
    url("../fonts/Segoe_UI/Segoe\ UI\ Bold\ Italic.woff") format("woff");
}

@font-face {
  font-family: "OpenSans Bold";
  src: url("../fonts/Open_Sans/static/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans ExtraBold";
  src: url("../fonts/Open_Sans/static/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/Open_Sans/static/OpenSans-Light.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans/static/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans_Condensed-Light";
  src: url("../fonts/Open_Sans/static/OpenSans_Condensed-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI Regular", sans-serif;
}

section.header {
  background-image: linear-gradient(#000, #00000065),
    url("../img/background.jpg");
  background-size: cover;
  min-height: 115vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Segoe UI Bold", sans-serif;
}

.header::before {
  content: "";
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #ebebeb; /* Couleur de fond semi-transparente */
  transform-origin: top left;
  transform: skewY(4deg); /* Angle d'inclinaison ajusté */
}

#navbar-nav {
  margin-right: 1em !important;
  margin-left: auto !important;
}

.navbar .btn {
  border-radius: 0;
  padding: 0.6em 1em;
}

a.nav-link {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0.7em;
  margin-right: 0.7em;
  border: 1px solid transparent;
}

a.nav-link:hover {
  border-bottom: #fff 1px solid;
}

.main {
  background-color: #ebebeb;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.4s ease-out;
}

.scrolled {
  background-color: #171515;
}

.logo {
  margin-left: 5px;
  color: #fff;
  font-family: "OpenSans Bold";
  font-weight: 800;
}

.typewriter-container {
  font-family: "OpenSans Light";
  position: absolute;
  bottom: 4vh;
  margin-left: 3em;
}

.typewriter-container > .typewriter {
  font-family: "OpenSans Light";
  letter-spacing: 3px;
  font-weight: lighter;
  font-size: 30px;
  color: #fafafa;
  display: inline-block;
  position: relative;
  line-height: 1em;
}

.typewriter-container > .typewriter::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 15px;
  background-color: #fafafa;
  right: -15px;
  bottom: 0;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home {
  height: 100vh;
}

.intro {
  padding-right: 3em;
  text-align: end;
  padding-top: 17vh;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.intro {
  color: #fafafa;
  max-width: 50%;
  margin-left: auto;
  overflow-x: hidden;
}

.intro h1 {
  line-height: 0.8em;
  font-size: 70px;
  color: #fafafac0;
  font-family: "OpenSans Bold";
}

.intro .hi {
  font-size: 50px;
  opacity: 0;
  transform: translateX(+60px);
  animation: show 0.8s 0.2s ease-out forwards;
}

.intro .introducing {
  opacity: 0;
  transform: translateX(+60px);
  animation: show 0.8s 0.8s ease-out forwards;
}

.intro h1 .name {
  color: #fafafa;
}

.intro .descri {
  padding-top: 1em;
  margin-left: auto;
  width: 60%;
  opacity: 0;
  transform: translateX(+60px);
  animation: show 0.9s 1.5s ease-out forwards;
}

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}
